@{
    ViewBag.Title = "CRUD";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title">CRUD Ventas</h2>
        
    </section>

    <div class="row">

        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h5 id="librariesTitle">P1: Mencione el comando para crear una rama en un repositorio GITHUB</h5>
            <p>git branch nombre_rama</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h5 id="librariesTitle">P2: ¿Cuál es el comando para comparar ramas de un repositorio?</h5>
            <p>git diff rama1..rama2</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h5 id="librariesTitle">P3: ¿Cuál es el comando para Eliminar una rama?</h5>
            <p>git branch -d rama_a_eliminar</p>
        </section>

    </div>
</main>